<html>
  <head>
    <title>Andrea's blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Andrea's Blog!</a></h1>
    </div>

    <div>
      <p>published: 21.07.2017, 9:57</p>
      <h2><a href="">My first post</a></h2>
      <p>I feel extremely tired this week. All my volleyball practices are extremely exhausting and I can not wait for the weekend!</p>
    </div>

    <div>
      <p>published: 21.07.2017, 10:01</p>
      <h2><a href="">My second post</a></h2>
      <p>On Sunday I am going to a concert in Stern Grove. Stern Grove over the summer has free concerts that my mom likes to go to. I am really excited because it should be really fun!</p>
    </div>
  </body>
</html>
